body{
    background-color: black;
    font-family: MiFuente;
}
h1 {
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: blue
}
@font-face {
    font-family: 'MiFuente';
    src: url('Made_Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}