/* això és un comentari en css */
/* a tots els elements de tipus link (a) se'ls aplicarà el que hi ha
dins el parèntesis
en aquest cas es posaran en color cyan */
a {
  color: rgb(255, 255, 255);
}
a:hover {
  color: rgb(0, 38, 255);
}
/* com referenciar a un identificador */
#tit {
  color: rgb(255, 0, 102);
}
/* podem fer que els elements li tinguin un determinat color, marge
exterior i interior (margin i padding)*/
article.Script {
  
  background-color: tomato;
  color: white;
  border: 4px solid black;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  width: 30%;
  height: 200px;
  opacity: 10;
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgb(109, 58, 58);
}
#menu-principal {
  background-color: tomato;
  color: blue;
  border: 4px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  width: 30%;
  height: 30%;
  box-shadow: 20px 20px 20px rgb(109, 58, 58);

}
/* possem els menús en horitzontal, i sí, podem possar a la vegada més
    d'una referència */
    
li {
      display: inline-block;
    }
footer {
  border: 4px solid black;
  margin: 10px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: tomato;
  box-shadow: 20px 20px 20px rgb(109, 58, 58);
}


form {
  width: 30%;
  margin-left: 500px;
  margin-top: 20px;
  border: 4px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: tomato;
  box-shadow: 20px 20px 20px rgb(109, 58, 58);
  
}
label {
  margin: 10px;
  color: white;
}
input, textarea, button {
  width: 50%;
  padding: 5px;
  margin: 10px;
}
select {
  border-radius: 5px;
  border: 2px solid;
}
input {
  border: 2px solid;
  border-radius: 5px;
}
textarea {
  border: 2px solid;
  border-radius: 5px;
}
#nom {
  margin-left: 20px;
}
#cognom {
  margin-left: -3px;
}
#assumpte {
 margin-left: -11px; 
}
button{
  border-radius: 5px;
  width: 20%;
}
img.imgSc {
  height: 70%;
  margin-top: -10%;
  margin-left: 50%;
  border-radius: 10%;
}

.amp {
  margin-top: -20%;
}
img.imgag {
  width: 10%;
  margin-top: 2px;
  margin-left: -10px;
}