@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    background: #09090c;
    color: #ccc;
    line-height: 1.6;
}

nav, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #171717;
}

nav .logo i {
    background: #e6355b;
    padding: 10px;
    border-radius: 50%;
    font-size: 24px;
}

nav a, footer p {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #e6355b;
}

.prompt-sec {
    padding: 40px 20px;
    text-align: center;
}

.prompt-sec h1 {
    font-size: 62px;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.prompt-sec img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.showcase {
    padding: 40px 20px;
    text-align: center;
}

.showcase h3 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #e6355b;
}

.showcase .text-sec, .showcase .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.showcase img {
    width: 200px;
    border-radius: 20px;
    border: 2px solid #c5c5c5;
    transition: transform 0.3s;
}

.showcase img:hover {
    transform: scale(1.05);
}

.services {
    padding: 40px 20px;
}

.services h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    color: #e6355b;
}

.services table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.services th, .services td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    transition: background 0.3s;
}

.services th {
    background: #2e2c29;
    color: #fff;
}

.services tr:hover {
    background: rgba(230, 53, 91, 0.1);
}

footer {
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 12px;
}

.video {
    display: flex;
    flex-wrap: wrap; /* Permite que los videos bajen en pantallas pequeñas */
    justify-content: center; /* Centra los videos */
    gap: 10px; /* Espaciado entre videos */
}
.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 560px; /* Ajusta según necesidad */
    aspect-ratio: 16 / 9; /* Mantiene proporción */
}

.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
}

.service-items img {
    width: 50%;
}
.service-items {
    display: flex;
    
}